[Desktop Entry]
Type=Application
Exec=firefox -P default-release --marionette --kiosk 'https://tt.antx.dev?hide_header=1'
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Firefox
Name=Firefox
Comment[en_US]=
Comment=